body{
	padding:0;
	margin:0;
	scroll-behavior: unset;
	font-family: century gothic;
}

header{
	width: 100%;
	height:150vh;
	background: linear-gradient(#0000006e, #0000008c,#0202026b), url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
	overflow: hidden;
	text-align: right;
}